/* Global Layout Settings */

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #3a3a3a;
    font-weight: 300;
}

main {
    height: 100%;
}

.full-height {
    height: 100%;
}

.container-padded {
    padding: 50px;
}


/* Buttons */

a {
    color: #263f71;
}


/* Buttons */

.btn-outline-square {
    border-radius: 0;
    border-width: 2px;
    min-width: 125px;
    font-weight: 500;
}


/* Typography */

.container-heading {
    font-family: 'lavigne-display', sans-serif;
}

.hashtag-link,
.hashtag-link:visited,
.hashtag-link:hover,
.hashtag-link:active,
.hashtag-link:focus,
.hashtag-link:active:hover {
    font-style: inherit;
    color: inherit;
    background-color: transparent;
    font-size: inherit;
    text-decoration: none;
    font-variant: inherit;
    font-weight: 700;
    line-height: inherit;
    font-family: inherit;
    border-radius: inherit;
    border: inherit;
    outline: inherit;
    box-shadow: inherit;
    padding: inherit;
    vertical-align: inherit;
    transition: color .5s;
    color: white;
}

.hashtag-link:hover {
    color: black;
}


/* Form */

.form-heading {
    font-family: 'lavigne-display', sans-serif;
    color: white;
    font-size: 70pt;
    font-weight: bold;
    letter-spacing: 2pt;
}

.rsvp-form label {
    font-weight: 500;
}

.rsvp-form label small {
    font-weight: normal;
}

.alert {
    position: fixed;
    bottom: 10px;
    margin: 0 10px;
    z-index: 100;
}


/* Background Colours */

.bg-dark-blue {
    background-color: #263f71;
}

.bg-medium-blue {
    background-color: #0168b6;
}

.bg-light-blue {
    background-color: #7bc0e5;
}

.bg-natural-light {
    background-color: #e4dfdb;
}

.bg-natural-dark {
    background-color: #bba9a1;
    color: white;
}

.bg-yellow {
    background-color: #f7d75d;
}

.bg-white {
    background-color: white;
}